.login .login-container p.cat-div{
    font-size: 18px;
    margin-top: 30px;
}
.login .login-container .login-registerBtn{
    margin-top: 1px;
    margin-bottom: 0px;
}
.login .login-logo{
    margin-bottom: 20px;
    margin-top: 20px;
}